@import "reset";
@import "./variables/global.scss";
@import "./themes/light.scss";
@import "./themes/dark.scss";

#root {
  min-height: 100vh;
}

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.content {
  display: flex;
  height: 100%;
}
