.loginform {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 8px;
  font-size: 18px;
}

.fields {
  display: flex;
  flex-direction: column;
  grid-gap: 14px 0;
}

.input {
  color: var(--modal-text-color);
  border: 1px solid var(--modal-text-color);
  background: var(--modal-bg-color);
}

.error {
  margin-top: 6px;
}

.button {
  margin-top: 14px;
}
