.filter {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.sorting-nav {
  display: flex;
  grid-gap: 0 20px;
}

.tabs {
  margin-top: 8px;
}
