.text {
  color: var(--primary-color);
}

.xs {
  font: var(--font-xs);
}

.s {
  font: var(--font-s);
}

.m {
  font: var(--font-m);
}

.l {
  font: var(--font-l);
}

.modal {
  color: var(--modal-text-color);
}

.error {
  color: var(--error-color);
}
