.text {
  color: var(--primary-color);
}

.extra-small {
  font: var(--font-xs);
}

.small {
  font: var(--font-s);
}

.medium {
  font: var(--font-m);
}

.large {
  font: var(--font-l);
}

.modal {
  color: var(--modal-text-color);
}

.error {
  color: var(--error-color);
}
