.article-details {
  position: relative;
}

.article-content {
  width: 800px;
}

.skeletonCircle {
  margin: 0 auto;
}

.skeletonItem {
  margin-top: 15px;
}

.avatar {
  display: block;
  margin: 0 auto;
}

.title {
  margin-top: 16px;
  margin-bottom: 8px;
}

.subtitle {
  margin-bottom: 8px;
}

.info {
  display: flex;
  align-items: center;

  svg {
    margin-right: 6px;
  }
}

.blocks {
  margin-top: 24px;
}

.back-link {
  display: flex;
  align-items: center;
}

.back-arrow {
  transform: rotate(180deg);
  margin-right: 6px;
}
