.article {
  display: flex;
  height: 380px;
  width: 100%;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  padding: 40px;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: linear-gradient(rgb(0 0 0 / 50%), #000);
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    left: 0;
    top: 0;
  }
}

.content {
  display: flex;
  margin-top: auto;
  position: relative;
  z-index: 3;
}

.category {
  margin-bottom: 16px;
}

.content-title {
  color: var(--bg-color);
  max-width: 720px;
  margin-bottom: 16px;
  font-family: var(--font-family-semi-bold);
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.username {
  color: var(--bg-color);
  text-transform: capitalize;
}

.date {
  color: var(--bg-color);
}

.views {
  margin-right: 6px;
  color: var(--bg-color);
}

.viewsIcon {
  fill: var(--bg-color);
}
