.button {
  background: var(--primary-color);
  border: none;
  color: var(--additional-primary-color);
  padding: 6px 20px;
  border-radius: 6px;
  cursor: pointer;
  font: var(--font-m);
  fill: var(--additional-primary-color);
  display: flex;
  justify-content: center;
  align-items: center;

  &.small {
    font: var(--font-s);
  }

  &.medium {
    font: var(--font-m);
  }

  &.large {
    font: var(--font-l);
  }
}

.modal {
  background: var(--modal-text-color);
  color: var(--modal-bg-color);

  &:disabled {
    background: var(--modal-text-color-disabled);
    color: var(--modal-bg-color-disabled);
  }
}

.clear {
  background: unset;
  border: unset;
  display: block;
  color: var(--primary-color);
  padding: 0;
}

.outline {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: transparent;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  &.small {
    width: 20px;
    height: 20px;
  }

  &.medium {
    width: 24px;
    height: 24px;
  }

  &.large {
    width: 30px;
    height: 30px;
  }
}

.btnLoader {
  margin: 2px 0;
}
