.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  min-width: var(--sidebar-width);
  background: var(--additional-bg-color);
  position: relative;
  transition: width 0.4s, min-width 0.4s;
  padding: 20px;
  z-index: 100;
}

.toggle {
  border-radius: 50%;
  position: absolute;
  right: 0;
  transform: translateX(50%);
  bottom: 50px;

  .rotate {
    transform: rotate(180deg);
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);
  min-width: var(--sidebar-width-collapsed);
}
