.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--additional-bg-color);
  position: relative;
  transition: width 0.4s;
  padding: 20px;
}

.toggle {
  border-radius: 50%;
  position: absolute;
  right: 0;
  transform: translateX(50%);
  top: 50px;

  .rotate {
    transform: rotate(180deg);
  }
}

.linksList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}
