.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--additional-bg-color);

  position: relative;
  transition: .4s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}
