.link {
  color: var(--primary-color);
  font: var(--font-m);
  display: flex;
  align-items: center;
  grid-gap: 0 8px;
}

.linkText {
  transition: opacity 0.4s, width 0.2s;
}

.icon {
  fill: var(--primary-color);
}

.collapsed {
  .linkText {
    opacity: 0;
    transition: 0.2s opacity;
    width: 0;
  }
}
