.TILE {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(392px, 1fr));
  grid-gap: 20px;

  .content {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .skeleton-item {
    width: 100%;
  }
}

.LIST {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-gap: 24px 0;

  .skeleton-info {
    display: flex;
    flex-direction: column;
    grid-gap: 24px 0;
  }

  .skeleton-avatar {
    margin-bottom: 10px;
  }

  .skeleton-item {
    width: 100%;
  }
}
