.profilecard {
  display: flex;
  margin-top: 16px;
}

.item {
  display: flex;
  flex-direction: column;
  color: var(--additional-primary-color);
  position: relative;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.item-age {
  z-index: 104;
}

.item-currency {
  z-index: 103;
}

.item-country {
  z-index: 102;
}

.itemRow {
  display: flex;
  align-items: center;
}

.error-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-screen-title {
  margin-bottom: 12px;
}

.validate-error {
  margin-top: 6px;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.label {
  white-space: nowrap;
  margin-right: 4px;
  line-height: 27px;
  border-bottom: 1px solid transparent;
}

.input {
  font: var(--font-s);
  padding-bottom: 0;
}

.text {
  font: var(--font-s);
  border-bottom: 1px solid transparent;
}

.fields {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.avatar {
  margin-right: 20px;
}

.avatar-link {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}
