.input {
  display: flex;
  width: 100%;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: var(--bg-color);
  padding: 8px 12px;
  border-radius: 6px;
  outline: none;
}
