.articles-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  align-items: center;
}
