.page {
  padding-top: 40px;
  padding-bottom: 40px;
}

.filters {
  margin-bottom: 24px;
  width: 280px;
  position: sticky;
  top: 40px;
}

.popular {
  margin-bottom: 48px;
}

.content {
  width: 900px;
}
