@font-face {
  font-family: NotoSans-Regular;
  src:
    local("NotoSans-Regular"),
    url("shared/assets/fonts/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: NotoSans-Medium;
  src:
    local("NotoSans-Medium"),
    url("shared/assets/fonts/NotoSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: NotoSans-SemiBold;
  src:
    local("NotoSans-SemiBold"),
    url("shared/assets/fonts/NotoSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: NotoSans-Bold;
  src:
    local("NotoSans-Bold"),
    url("shared/assets/fonts/NotoSans-Bold.ttf") format("truetype");
}
