.theme-light {
  --bg-color: rgb(255 255 255);
  --primary-color: #303030;
  --secondary-color: #ec7160;
  --additional-bg-color: rgb(246 247 252);
  --additional-primary-color: #ededed;
  --overlay-color: rgb(0 0 0 / 60%);

  /* Modal */
  --modal-bg-color: rgb(255 255 255);
  --modal-bg-color-disabled: rgb(255 255 255 / 50%);
  --modal-text-color: #000;
  --modal-text-color-disabled: rgb(0 0 0 / 50%);

  /* Skeleton */
  --skeleton-bg: #303030, 0.1;
  --skeleton-animation-color: rgb(246 247 252);
}
