.wrapper {
  position: relative;
}

.current-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 4px 8px;
  border-radius: 4px;
  font: var(--font-xs);
  width: 100%;
  cursor: pointer;
}

.options {
  position: absolute;
  background: var(--bg-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  margin-top: 4px;
  width: 100%;
  transition: 1s;
  max-height: 300px;
  min-width: 120px;
  max-width: 300px;
  padding: 4px 0;
  z-index: 1000;
  overflow-y: auto;
}

.item {
  font: var(--font-xs);
  padding: 6px 8px;
  cursor: pointer;
  width: 100%;
  display: block;

  &:hover {
    background: var(--additional-bg-color);
  }
}

.active-option {
  background: var(--additional-bg-color);
}

.enter-to {
  transition: 0.3s;
  opacity: 1;
  z-index: 1000;
}

.enter-from {
  transition: 0.3s;
  opacity: 0;
  z-index: 1000;
}

.leave-to {
  transition: 0.3s;
  opacity: 0;
}

.leave-from {
  transition: 0.3s;
  opacity: 1;
}

.triggerBtn {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.bottom-left {
  top: 100%;
  left: 0;
}

.bottom-right {
  top: 100%;
  right: 0;
}

.top-left {
  bottom: 100%;
  left: 0;
}

.top-right {
  bottom: 100%;
  right: 0;
}
